{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h2>{{ post.title }}</h2>
    {% if post.type == 'news' %}
        <div style="float:left;margin:5px"><img src="/media/{{ post.image }}" style="max-width: 200px;" alt="{{ post.title }}"></div>
    {% endif %}
    <p>{{ post.content|linebreaksbr }}</p>
    {% if post.type == 'news' %}
        <p style="text-align: center;"><a href="/{{ post.forum_link }}" class="btn btn-default">Participer au sujet sur le forum</a></p>
    {% endif %}
    <small>Article créer le {{ post.created }} par <a href="{% url 'profile' post.author.id %}">{{ post.author.username }}</a></small>
</div>
{% endblock %}