/* Marges, paddings, dimensions, flexbox */
*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 20px 0;
    padding: 0;
}

p.date {
    font-size: 0.8em;
    text-align: right;
}

.notification {
    margin: 10px;
}

.notification ul {
    list-style-type: none;
}

.notification ul li {
    padding: 10px;
    border: 2px solid;
    margin: 5px 0;
}

.container, .menu {
    padding: 10px 20px;
    border: 2px solid;
    margin-bottom: 10px;
}

.menu h2 {
    border-bottom: 2px solid;
    padding-bottom: 5px;
    width: 100%;
}


.menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu ul li {
    margin: 5px 0;
}

form.incol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: auto;
    justify-content: space-between;
}

.container .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news {
    margin: 10px;
    padding: 10px;
    border: 1px solid;
}

.news-header {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    margin: 10px 10px -10px 10px;
    padding: 10px;
}

/* forum */
.forum {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
}

.forum h3 {
    margin: 0;
}

.forum-header {
    display: flex;
    flex-direction: row;
    border: 1px 1px 0 1px solid;
    margin: 10px 10px -10px 10px;
}

.forum-column, .forum-column-detail {
    flex: 1;
    flex-direction: column;
    border: 1px solid;
    padding: 10px;
}

.forum-column:nth-child(1) {
    flex: 2;
}

.forum-column:nth-child(2), .forum-column:nth-child(3) {
    flex: 1;
}

.forum-column-detail:nth-child(1) {
    flex: 1;
}

.forum-column-detail:nth-child(2) {
    flex: 4;
}

.forum-column-detail ul {
    list-style-type: none;
    padding: 0;
}

.forum-body {
    display: flex;
    flex-direction: column;
    border: 0 1px 1px 1px solid;
    margin: 10px 10px -10px 10px;
}

.forum-body img {
    max-width: 100%;
}

.forum-row {
    display: flex;
    flex-direction: row;
    border: 0 1px 0 1px solid;
}

.stats_forum {
    padding: 10px;
    margin: 10px 0 10px 0;
}

.stats_forum ul {
    list-style-type: none;
    border: 1px solid;
    padding: 10px;
}

.stats_forum ul li {
    margin: 5px 0;
}

ul.breadcrumbs {
    display: flex;
    flex-direction: row;
    font-size: 0.6rem;
    list-style-type: none;
    margin: 10px 0 10px 0;
}

ul.breadcrumbs li {
    margin: 0 5px 0 5px;
}

ul.breadcrumbs li a {
    text-decoration: none;
}

/* Formulaire */

.btn, input[type="submit"], button {
    border: 2px solid;
    padding: 5px 10px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: auto;
    max-width: max-content;
    font-size: 0.8rem;
    cursor: pointer;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
    padding: 5px;
    margin: 5px;
    width: 100%;
    border: 1px solid;
}

/* Pagination */
ul.pagination {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 10px 0 10px 0;
}

ul.pagination li.page-item {
    margin: 0 5px 0 5px;
}

ul.pagination li.page-item a {
    text-decoration: none;
}

.page-link {
    padding: 5px 10px;
    border: 2px solid;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: auto;
    max-width: max-content;
    font-size: 0.8rem;
    cursor: pointer;
}

li.disabled {
    pointer-events: none;
    cursor: default;
}