{% load static %}
{% load bbcode_tags %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passion Rétro - Communauté des Passionnés de Jeux, Films et Séries Rétro</title>

    <!-- Balises méta pour le SEO -->
    <meta name="description" content="Rejoignez Passion Rétro, la communauté dédiée aux passionnés de jeux, films et séries des années 80 et 90. Découvrez des contenus exclusifs et partagez votre passion !">
    <meta name="keywords" content="passion retro, passion rétro, rétro, jeux, films, séries, communauté, années 80, années 90">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Passion Rétro Team">

    <!-- Open Graph -->
    <meta property="og:title" content="Passion Rétro - Communauté des Passionnés de Jeux, Films et Séries Rétro">
    <meta property="og:description" content="Rejoignez Passion Rétro, la communauté dédiée aux passionnés de jeux, films et séries des années 80 et 90. Découvrez des contenus exclusifs et partagez votre passion !">
    <meta property="og:image" content="{% static 'images/logo.png' %}">
    <meta property="og:url" content="https://www.passionretro.com">
    <meta property="og:type" content="website">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Passion Rétro - Communauté des Passionnés de Jeux, Films et Séries Rétro">
    <meta name="twitter:description" content="Rejoignez Passion Rétro, la communauté dédiée aux passionnés de jeux, films et séries des années 80 et 90. Découvrez des contenus exclusifs et partagez votre passion !">
    <meta name="twitter:image" content="{% static 'images/logo.png' %}">
    <meta name="twitter:site" content="@PassionRetro">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'themes/' %}/generic.css">
    <link rel="stylesheet" href="{% static 'themes/' %}{{ request.theme_active }}/grid.css">
    <link rel="stylesheet" href="{% static 'themes/' %}{{ request.theme_active }}/bbcode.css">
    <link rel="stylesheet" href="{% static 'themes/' %}{{ request.theme_active }}/colors.css">
    <link rel="stylesheet" href="{% static 'themes/' %}{{ request.theme_active }}/forms.css">
    <link rel="stylesheet" href="{% static 'themes/' %}{{ request.theme_active }}/typo.css">
    <link rel="stylesheet" href="{% static 'themes/' %}{{ request.theme_active }}/structure.css">
    <link rel="stylesheet" href="{% static 'themes/' %}{{ request.theme_active }}/banner.css">
    <link rel="stylesheet" href="{% static 'themes/' %}{{ request.theme_active }}/gallery.css">
    <link rel="stylesheet" href="{% static 'themes/' %}{{ request.theme_active }}/post.css">
    <link rel="stylesheet" href="{% static 'themes/' %}{{ request.theme_active }}/games.css">
    <link rel="stylesheet" href="{% static 'themes/' %}{{ request.theme_active }}/pm.css">
    <link rel="stylesheet" href="{% static 'themes/' %}{{ request.theme_active }}/profile.css">
    <link rel="stylesheet" href="{% static 'themes/' %}{{ request.theme_active }}/shop.css">
    <link rel="stylesheet" href="{% static 'themes/' %}/border-avatars.css">
    <link rel="stylesheet" href="{% static 'themes/' %}/decoration-username.css">
    <script src="{% static 'js/utils/bbcode_display.js' %}"></script>
    <script src="{% static 'js/utils/functions.js' %}" defer></script>
    <script src="{% static 'js/utils/multiple_posts.js' %}" defer></script>
    {% block extrajs %}{% endblock %} 
</head>
<body>
    {% if request.theme_active != '00s' %}
        <div class="warning-announce-not-mobile-compatible">
            Le design séléctionné n'est pas compatible avec les appareils mobiles. Veuillez choisir un autre design pour une meilleure expérience utilisateur.
        </div>
    {% endif %}
    <div class="banner-container">
        <div class="banner">
            <div class="galaxy-background"></div>
            {% if request.theme_active == "80s" %}
                <div class="grid"></div>
                <div class="sun"></div>
                <div class="spaceship">
                    <div class="engine"></div>
                </div>
            {% endif %}
            <div class="banner-text" id="bannerText">Passion Retro</div>
            <div class="slogan">Bienvenue sur le portail web 100% Rétro ! Attention, ce site web n'est pas conseillé aux personnes nées après 2005 sous peine de crise existensielle.</div>
        </div>
    </div>
    <div class="row">
        {% if request.theme_active != '00s' %}
            <div class="col col-2">
        {% endif %}
        {% if request.theme_active != '00s' %}
                <div class="menu">
                    <h2>Communauté</h2>
                    <ul>
                        <li><a href="{% url 'home' %}">Accueil</a></li>
                        <li><a href="{% url 'forum_home' %}">Forum</a></li>
                        <li>
                            <a href="{% url 'portal_games' %}">Portail des jeux</a>
                            {% if request.user.is_staff and pending_quizes_count > 0 %}
                                <span class="badge badge-warning">{{ pending_quizes_count }}</span>
                            {% endif %}
                        </li>
                        <li>
                            <a href="{% url 'shop_home' %}" class="new-item-menu">Boutique</a>
                        </li>
                        <li><a href="{% url 'contribute' %}" class="btn btn-add">Contribuer</a></li>
                    </ul>
                </div>
                <div class="menu">
                    <h2>Jeux</h2>
                    <ul>
                        {% for games in request.posts_games %}
                            <li><a href="{% url 'view_post' games.slug %}">{{ games.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="menu">
                    <h2>Films & Series</h2>
                    <ul>
                        {% for movies in request.posts_movies %}
                            <li><a href="{% url 'view_post' movies.slug %}">{{ movies.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="menu">
                    <h2>Musique</h2>
                    <ul>
                        {% for music in request.posts_music %}
                            <li><a href="{% url 'view_post' music.slug %}">{{ music.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="menu">
                    <h2>Technologies</h2>
                    <ul>
                        {% for internet in request.posts_internet %}
                            <li><a href="{% url 'view_post' technology.slug %}">{{ internet.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
        {% else %}
                <!-- Ajout du bouton burger -->
                <div class="burger-menu">
                    <button class="burger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <!-- Menu horizontal existant -->
                <div class="menu-horizontal">
                    <ul>
                        <li><a href="{% url 'home' %}">Accueil</a></li>
                        <li><a href="{% url 'forum_home' %}">Forum</a></li>
                        <li>
                            <a href="{% url 'portal_games' %}">
                                Portail des jeux
                                {% if request.user.is_staff and pending_quizes_count > 0 %}
                                    <span class="badge badge-warning">{{ pending_quizes_count }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li><a href="{% url 'shop_home' %}" class="new-item-menu">Boutique</a></li>
                        <li><a href="{% url 'contribute' %}" class="btn btn-add">Contribuer</a></li>
                        <li><a href="">Internet</a>
                            <ul>
                                {% for internet in request.posts_internet %}
                                    <li><a href="{% url 'view_post' technology.slug %}">{{ internet.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="">Musique</a>
                            <ul>
                                {% for music in request.posts_music %}
                                    <li><a href="{% url 'view_post' music.slug %}">{{ music.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="">Films & Series</a>
                            <ul>
                                {% for movies in request.posts_movies %}
                                    <li><a href="{% url 'view_post' movies.slug %}">{{ movies.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="">Jeux</a>
                            <ul class="dropdown">
                                {% for games in request.posts_games %}
                                    <li><a href="{% url 'view_post' games.slug %}">{{ games.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
        {% endif %}
        {% if request.theme_active == '00s' %}
            <div class="col col-9">
        {% else %}
            </div>
            <div class="col col-7">
        {% endif %}
            {% if messages %}
                <div class="notification">
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <div class="col col-2">
            <div class="menu">
                <h2>Membre</h2>
                <ul>
                    <!-- Si le membre est connecté -->
                    {% if request.user.is_authenticated %}
                        <center><div class="{{ request.user.border_avatar }}"><img src="/media/{{ request.user.avatar }}" style="width:150px;" alt="Avatar de {{ request.user.username }}"></div></center>
                        <li>Bonjour <strong><span class="{{ request.user.username_decoration }}">{{ request.user.username }}</span></strong></li>
                        <li><a href="{% url 'profile' %}">Mon Profil</a></li>
                        <li>
                            <a href="{% url 'pm_home' %}">Messagerie privée</a>
                            {% if pending_pm_count > 0 %}
                                <span class="badge badge-warning">{{ pending_pm_count }}</span>
                            {% endif %}
                        </li>
                        <li><a href="{% url 'contributions' %}">Mes contributions</a></li>
                        <li>
                            <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                                {% csrf_token %}
                            </form>
                            <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Déconnexion</a>
                        </li>
                        <!-- Si c'est un admin -->
                        {% if request.user.is_staff %}
                            <li>
                                <a href="/admin/posts/post/?active__exact=0">
                                    Articles en attente
                                </a>
                                {% if pending_posts_count > 0 %}
                                    <span class="badge badge-warning">{{ pending_posts_count }}</span>
                                {% endif %}
                            </li>
                            <li><a href="/admin" target="_blank" class="danger">Administration</a></li>
                        {% endif %}
                    <!-- Si le membre n'est pas connecté -->
                    {% else %}
                        <li>
                            <form action="{% url 'login' %}" method="post" class="incol">
                                {% csrf_token %}
                                <input type="text" name="username" placeholder="Nom d'utilisateur">
                                <input type="password" name="password" placeholder="Mot de passe">
                                <button>Connexion</button>
                            </form>
                        </li>
                        <li><a href="{% url 'register' %}">Inscription</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="menu">
                <h2>Livre d'Or</h2>
                <ul class="guestbook">
                    {% for message in request.guestbook %}    
                        <li><span class="date">[{{ message.created }}]</span> <span class="author {{ message.author.username_decoration }}">{{ message.author }}</span> : {{ message.content|bbcode|safe|linebreaksbr }}</li>
                    {% endfor %}
                </ul>
                <ul>
                    <li>{{ request.total_guestbook }} messages dans le livre d'or</li>
                </ul>
                <center><a href="{% url 'guestbook_home' %}#form" class="btn btn-add">Laisser un message</a></center>
            </div>
            <div class="menu">
                <h2>Stats Site</h2>
                <ul>
                    <li>Membres : {{ request.total_users }}</li>
                    <li>Dernier inscrit : <a href="{% url 'profile' request.last_user.id %}">{{ request.last_user }}</a></li>
                    <li>Visiteurs : {{ request.visitor_count }}</li>
                    <li>Visites totales : {{ request.total_visitor_count }}</li>
                </ul>
            </div>
            <div class="menu">
                <h2>Stats Forum</h2>
                <ul>
                    <li>Messages : {{ request.total_posts }}</li>
                    <li>Sujets : {{ request.total_topics }}</li>
                    {% if request.last_topic %}
                        <li>Dernier Sujet créer : <a href="{% url 'post_list' request.last_topic.forum.id request.last_topic.id %}">{{ request.last_topic.title }}</a></li>
                    {% else %}
                        <li>Dernier Sujet créer : Aucun</li>
                    {% endif %}
                    {% if request.last_post %}
                        <li>Dernier Message : <a href="{% url 'post_list' request.last_post.topic.forum.id request.last_post.topic.id %}">{{ request.last_post.topic.title }}</a></li>
                    {% else %}
                        <li>Dernier Message : Aucun</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer"><p>
        www.passion-retro.com &copy;2024 - 2025. Icônes par icon8<br>
        Hebergé fièrement par <a href="https://www.toviohost.com" target="_blank">TovioHost</a> 
    </p></div>
    <script>
        // Animation scintillante pour le texte de la bannière
        const bannerText = document.getElementById('bannerText');
        bannerText.innerHTML = bannerText.textContent.split('').map((char, index) => 
          `<span style="--char-index: ${index}">${char}</span>`
        ).join('');
      
        // Ajout d'étoiles filantes
        function createShootingStar() {
          const star = document.createElement('div');
          star.style.position = 'absolute';
          star.style.width = '2px';
          star.style.height = '2px';
          star.style.backgroundColor = 'white';
          star.style.borderRadius = '50%';
          star.style.top = `${Math.random() * 100}%`;
          star.style.left = '5%';
          star.style.animation = `shootingStar ${Math.random() * 2 + 1}s linear`;
          document.querySelector('.banner').appendChild(star);
      
          star.addEventListener('animationend', () => {
            star.remove();
          });
        }
      
        setInterval(createShootingStar, 1000);
      
        // Animation pour les étoiles filantes
        const style = document.createElement('style');
        style.textContent = `
          @keyframes shootingStar {
            0% {
              transform: translateX(0) translateY(0);
              opacity: 1;
            }
            100% {
              transform: translateX(90%) translateY(100px);
              opacity: 0;
            }
          }
        `;
        document.head.appendChild(style);
        
        /* Grosse étoile filante */

        let currentBigStar = null;

        function spawnBigShootingStar() {

            if(currentBigStar) {
                currentBigStar.remove();
            }

            const star = document.createElement('div');
            star.classList.add('big-shooting-star');
            document.querySelector('.banner').appendChild(star);
            currentBigStar = star;

            const randomDuration = Math.random() * (30 - 10) + 10; // Random duration between 10 and 30 seconds
            const startX = Math.random() * 100; // Random start position (0 to 100%)
            const startY = Math.random() * 100; // Random start position (0 to 100%)
            const endX = Math.random() * 100; // Random end position (0 to 100%)
            const endY = Math.random() * 100; // Random end position (0 to 100%)

            star.style.animationDuration = `${randomDuration}s`;
            star.style.top = `${startY}`;
            star.style.left = `${startX}`;
            star.style.setProperty('--endX', `${endX - startX}vw`);
            star.style.setProperty('--endY', `${endY - startY}vh`);

            star.addEventListener('animationend', () => {
                star.remove();
                currentBigStar = null;
            });
        }

        function scheduleNextBigStarSpawn() {
            const randomDelay = Math.random() * (30 - 10) + 10; // Random delay between 10 and 30 seconds
            setTimeout(() => {
                spawnBigShootingStar();
                scheduleNextBigStarSpawn();
            }, randomDelay * 1000);
        }

        scheduleNextBigStarSpawn();

        // On efface les notifications après quelques secondes
        setTimeout(() => {
            const notif = document.querySelector('.notification');
            if(notif) {
                notif.remove();
            }
        }, 10000);
      </script>
      <script>
        // Ajouter l'event listener sur le burger menu
        document.querySelector('.burger-icon').addEventListener('click', toggleMenu);

        function toggleMenu() {
            const menu = document.querySelector('.menu-horizontal');
            const burger = document.querySelector('.burger-menu');
            menu.classList.toggle('active');
            burger.classList.toggle('active');
        }

        // Gérer les sous-menus sur mobile
        document.querySelectorAll('.menu-horizontal > ul > li').forEach(item => {
            opacity: 0;
            if(window.innerWidth <= 768) {
                item.addEventListener('click', (e) => {
                    if(e.target.tagName === 'A' && item.querySelector('.dropdown')) {
                        e.preventDefault();
                        item.classList.toggle('active');
                    }
                });
            }
        });
      </script>
      <style>
        @keyframes moveStar {
          to {
            transform: translate(var(--endX), var(--endY));
            opacity: 0;
          }
        }
      </style>
</body>
</html>