{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passion rétro</title>

    <!-- Balises méta pour le SEO -->
    <meta name="description" content="Bienvenue sur Passion Rétro, le portail web 100% rétro pour les passionnés de jeux, films, séries et plus encore !">
    <meta name="keywords" content="rétro, jeux, films, séries, communauté, années 80, années 90">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Passion Rétro Team">

    <!-- CSS -->
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="{% static 'themes/grid.css' %}">
    <link rel="stylesheet" href="{% static 'themes/bbcode.css' %}">
    <link rel="stylesheet" href="{% static 'themes/' %}{{ request.theme_active }}/colors.css">
    <link rel="stylesheet" href="{% static 'themes/' %}{{ request.theme_active }}/forms.css">
    <link rel="stylesheet" href="{% static 'themes/' %}{{ request.theme_active }}/typo.css">
    <link rel="stylesheet" href="{% static 'themes/' %}{{ request.theme_active }}/structure.css">
    <link rel="stylesheet" href="{% static 'themes/' %}{{ request.theme_active }}/banner.css">
    <link rel="stylesheet" href="{% static 'themes/' %}{{ request.theme_active }}/gallery.css">
    <link rel="stylesheet" href="{% static 'themes/' %}{{ request.theme_active }}/post.css">
    <script src="{% static 'js/utils/bbcode_display.js' %}"></script>
    <script src="{% static 'js/utils/functions.js' %}"></script>
    <script src="{% static 'js/utils/multiple_posts.js' %}" defer></script>
</head>
<body>
    <div class="banner-container">
        <div class="banner">
            <div class="galaxy-background"></div>
            <div class="banner-text" id="bannerText">Passion Retro</div>
            <div class="slogan">Bienvenue sur le portail web 100% Rétro ! Attention, ce site web n'est pas conseillé aux personnes nées après 2005 sous peine de crise existensielle.</div>
        </div>
    </div>
    <div class="row">
        <div class="col col-2">
            <div class="menu">
                <h2>Communauté</h2>
                <ul>
                    <li><a href="{% url 'home' %}">Accueil</a></li>
                    <li><a href="{% url 'forum_home' %}">Forum</a></li>
                    <li><a href="#"><s>Chat</s></a>&nbsp;<small><i style="color:rgb(243, 87, 87)">(bientôt !)</i></small></li>
                    <li><a href="{% url 'contribute' %}" class="btn btn-add">Contribuer</a></li>
                </ul>
            </div>
            <div class="menu">
                <h2>Jeux</h2>
                <ul>
                    {% for games in request.posts_games %}
                        <li><a href="{% url 'view_post' games.slug %}">{{ games.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="menu">
                <h2>Films & Series</h2>
                <ul>
                    {% for movies in request.posts_movies %}
                        <li><a href="{% url 'view_post' movies.slug %}">{{ movies.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="menu">
                <h2>Musique</h2>
                <ul>
                    {% for music in request.posts_music %}
                        <li><a href="{% url 'view_post' music.slug %}">{{ music.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="menu">
                <h2>Technologies</h2>
                <ul>
                    {% for internet in request.posts_internet %}
                        <li><a href="{% url 'view_post' technology.slug %}">{{ internet.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col col-7">
            {% if messages %}
                <div class="notification">
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <div class="col col-2">
            <div class="menu">
                <h2>Membre</h2>
                <ul>
                    <!-- Si le membre est connecté -->
                    {% if request.user.is_authenticated %}
                        <center><img src="/media/{{ request.user.avatar }}" style="width:150px;" alt="Avatar de {{ request.user.username }}"></center>
                        <li>Bonjour <strong>{{ request.user.username }}</strong></li>
                        <li><a href="{% url 'profile' %}">Mon Profil</a></li>
                        <li><a href="{% url 'contributions' %}" class="new-item-menu">Mes contributions</a></li>
                        <li>
                            <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                                {% csrf_token %}
                            </form>
                            <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Déconnexion</a>
                        </li>
                        <!-- Si c'est un admin -->
                        {% if request.user.is_staff %}
                            <li>
                                <a href="/admin/posts/post/?active__exact=0">
                                    Articles en attente
                                </a>
                                {% if pending_posts_count > 0 %}
                                    <span class="badge badge-warning">{{ pending_posts_count }}</span>
                                {% endif %}
                            </li>
                            <li><a href="/admin" target="_blank" class="danger">Administration</a></li>
                        {% endif %}
                    <!-- Si le membre n'est pas connecté -->
                    {% else %}
                        <li>
                            <form action="{% url 'login' %}" method="post" class="incol">
                                {% csrf_token %}
                                <input type="text" name="username" placeholder="Nom d'utilisateur">
                                <input type="password" name="password" placeholder="Mot de passe">
                                <button>Connexion</button>
                            </form>
                        </li>
                        <li><a href="{% url 'register' %}">Inscription</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="menu">
                <h2>Livre d'Or</h2>
                <ul class="guestbook">
                    {% for message in request.guestbook %}    
                        <li><span class="date">[{{ message.created }}]</span> <span class="author">{{ message.author }}</span> : {{ message.content }}</li>
                    {% endfor %}
                </ul>
                <ul>
                    <li>{{ request.total_guestbook }} messages dans le livre d'or</li>
                </ul>
                <center><a href="{% url 'guestbook_home' %}#form" class="btn btn-add">Laisser un message</a></center>
            </div>
            <div class="menu">
                <h2>Stats Site</h2>
                <ul>
                    <li>Membres : {{ request.total_users }}</li>
                    <li>Dernier inscrit : <a href="{% url 'profile' request.last_user.id %}">{{ request.last_user }}</a></li>
                    <li>Visiteurs : {{ request.visitor_count }}</li>
                    <li>Nombre de visites totales : {{ request.total_visitor_count }}</li>
                </ul>
            </div>
            <div class="menu">
                <h2>Stats Forum</h2>
                <ul>
                    <li>Messages : {{ request.total_posts }}</li>
                    <li>Sujets : {{ request.total_topics }}</li>
                    {% if request.last_topic %}
                        <li>Dernier Sujet créer : <a href="{% url 'post_list' request.last_topic.forum.id request.last_topic.id %}">{{ request.last_topic.title }}</a></li>
                    {% else %}
                        <li>Dernier Sujet créer : Aucun</li>
                    {% endif %}
                    {% if request.last_post %}
                        <li>Dernier Message : <a href="{% url 'post_list' request.last_post.topic.forum.id request.last_post.topic.id %}">{{ request.last_post.topic.title }}</a></li>
                    {% else %}
                        <li>Dernier Message : Aucun</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer"><p>
        www.passion-retro.com &copy;2024 - 2025. Icônes par icon8<br>
        Hebergé fièrement par <a href="https://www.toviohost.com" target="_blank">TovioHost</a> 
    </p></div>
    <script>
        // Animation scintillante pour le texte de la bannière
        const bannerText = document.getElementById('bannerText');
        bannerText.innerHTML = bannerText.textContent.split('').map((char, index) => 
          `<span style="--char-index: ${index}">${char}</span>`
        ).join('');
      
        // Ajout d'étoiles filantes
        function createShootingStar() {
          const star = document.createElement('div');
          star.style.position = 'absolute';
          star.style.width = '2px';
          star.style.height = '2px';
          star.style.backgroundColor = 'white';
          star.style.borderRadius = '50%';
          star.style.top = `${Math.random() * 100}%`;
          star.style.left = '5%';
          star.style.animation = `shootingStar ${Math.random() * 2 + 1}s linear`;
          document.querySelector('.banner').appendChild(star);
      
          star.addEventListener('animationend', () => {
            star.remove();
          });
        }
      
        setInterval(createShootingStar, 1000);
      
        // Animation pour les étoiles filantes
        const style = document.createElement('style');
        style.textContent = `
          @keyframes shootingStar {
            0% {
              transform: translateX(0) translateY(0);
              opacity: 1;
            }
            100% {
              transform: translateX(90%) translateY(100px);
              opacity: 0;
            }
          }
        `;
        document.head.appendChild(style);
        
        /* Grosse étoile filante */

        let currentBigStar = null;

        function spawnBigShootingStar() {

            if(currentBigStar) {
                currentBigStar.remove();
            }

            const star = document.createElement('div');
            star.classList.add('big-shooting-star');
            document.querySelector('.banner').appendChild(star);
            currentBigStar = star;

            const randomDuration = Math.random() * (30 - 10) + 10; // Random duration between 10 and 30 seconds
            const startX = Math.random() * 100; // Random start position (0 to 100%)
            const startY = Math.random() * 100; // Random start position (0 to 100%)
            const endX = Math.random() * 100; // Random end position (0 to 100%)
            const endY = Math.random() * 100; // Random end position (0 to 100%)

            star.style.animationDuration = `${randomDuration}s`;
            star.style.top = `${startY}`;
            star.style.left = `${startX}`;
            star.style.setProperty('--endX', `${endX - startX}vw`);
            star.style.setProperty('--endY', `${endY - startY}vh`);

            star.addEventListener('animationend', () => {
                star.remove();
                currentBigStar = null;
            });
        }

        function scheduleNextBigStarSpawn() {
            const randomDelay = Math.random() * (30 - 10) + 10; // Random delay between 10 and 30 seconds
            setTimeout(() => {
                spawnBigShootingStar();
                scheduleNextBigStarSpawn();
            }, randomDelay * 1000);
        }

        scheduleNextBigStarSpawn();

        // On efface les notifications après quelques secondes
        setTimeout(() => {
            const notif = document.querySelector('.notification');
            if(notif) {
                notif.remove();
            }
        }, 10000);
      </script>
      <style>
        @keyframes moveStar {
          to {
            transform: translate(var(--endX), var(--endY));
            opacity: 0;
          }
        }
      </style>
</body>
</html>