.table {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto 10px auto;
}

.table .header {
    display: flex;
    flex-direction: row;
    flex: 1;
    border-bottom: 2px solid grey;
    font-weight: 800;
    font-size: 1rem;
}

.table .body {
    display: flex;
    flex-direction: row;
    flex: 1;
    border-bottom: 1px solid grey;
}

.new-message {
    display: inline-block;
    color: #fff;
    background-color: rgb(236, 58, 58);
    border: 1px solid red;
    font-size: 0.5rem;
    margin-right: 10px;
    padding: 3px;
    border-radius: 10px;
    text-shadow: none;
}