{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h2>Contribuer à la communauté</h2>
        <div class="news">
            <p>Passion Retro est avant tout un site communautaire, façonné par ses membres. Ici, tu as la possibilité de participer activement en ajoutant des articles, des dossiers ou même des catégories !</p>
            <p>Cependant, pour préserver la qualité et l’esprit nostalgique du site, toutes les contributions sont soumises à une approbation manuelle. Cela permet de garder un contenu authentique et en accord avec notre vision d’un web rétro, loin des excès modernes.</p>
            <p>Chaque membre a ainsi la chance d’apporter sa pierre à l’édifice, et ensemble, nous pouvons forger la plus grande communauté francophone dédiée au rétro.</p>
            <p>Rejoins-nous dans cette aventure et aide-nous à faire vivre l’héritage d’un internet révolu !</p>
        </div>
        <div class="row">
            <div class="col col-3 contrib games">
                <a href="{% url 'form_contribute' 'games' %}">Article Jeu Vidéo</a>
            </div>
            <div class="col col-3 contrib movies">
                <a href="{% url 'form_contribute' 'movies' %}">Article Film & Series</a>
            </div>
            <div class="col col-3 contrib musics">
                <a href="{% url 'form_contribute' 'music' %}">Article Musique</a>
            </div>
            <div class="col col-3 contrib tech">
                <a href="{% url 'form_contribute' 'tech' %}">Article Technologie</a>
            </div>
            <div class="col col-3 contrib news_contrib">
                <a href="{% url 'form_contribute' 'news' %}">Actus</a>
            </div>
            <div class="col col-3 contrib category">
                <a href="{% url 'form_contribute' 'category' %}">Nouvelle catégorie</a>
            </div>
        </div>
    </div>
{% endblock %}