{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <h2>Register</h2>
        <form method="post" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" style="margin-left:50px" data-sitekey="6LfV9KMqAAAAALfDPBU2BfoylyEoy0OhNBCZ86Ym"></div>
            <button type="submit" class="btn-submit">S'inscire</button>
        </form>
    </div>
{% endblock %}